<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">


    <title>Document</title>
</head>
<body>
    <div class="container text-center mt-5">
        <div class="card">
            <img class="card-img-top" src="kittens.png" alt="Card image cap">

          <div class="card-body">
            <h5 class="card-title">Will you be my Valentine?</h5>
            <p class="card-text">I love you more than words can express!</p>
            <a  href="yes.html" type="button" class="btn btn-success mr-3">Yes</a>
            <button type="button" class="btn btn-danger active" id="no" role="button" aria-disabled="true" style="position: absolute;">No</button>
          </div>
        </div>
      </div>
  
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js"></script>

    <script>
        const button = document.getElementById("no");
        
    
    const animateMove = (element, prop, pixels) =>
      anime({
        targets: element,
        [prop]: `${pixels}px`,
        easing: "easeOutCirc"
      });
    
    ["mouseover", "click"].forEach(function (el) {
      button.addEventListener(el, function (event) {
        console.log(window.innerHeight,window.innerWidth)
        var rect = button.getBoundingClientRect();
        const top = getRandomNumber(window.innerHeight - rect.height);
        const left = getRandomNumber(window.innerWidth - rect.width);
        console.log(top,left)
        animateMove(this, "left", left).play();
        animateMove(this, "top", top).play();
      });
    });
    
    const getRandomNumber = (num) => {
      return Math.floor(Math.random() * (num + 1));
    };
    
    
    
        </script>
</body>
</html>